@import "flowbite-vue/index.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

/* import Flowbite plugin */
@plugin "flowbite/plugin";

/* add Flowbite Vue directory using @source directive */
@source "../node_modules/flowbite-vue";

/* body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} */
